---
http_interactions:
- request:
    method: post
    uri: https://api-ssl.bitly.com/v4/shorten
    body:
      encoding: UTF-8
      string: '{"long_url":"https://github.com/saiqulhaq/jekyll_bitly_next"}'
    headers:
      Authorization:
      - Bearer <BITLY_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"created_at":"2025-10-19T17:28:02+0000","id":"bit.ly/3JgLyDv","link":"https://bit.ly/3JgLyDv","custom_bitlinks":[],"long_url":"https://github.com/saiqulhaq/jekyll_bitly_next","archived":false,"tags":[],"deeplinks":[],"references":{"group":"https://api-ssl.bitly.com/v4/groups/Bb8lekEYAv4"}}'
  recorded_at: Mon, 20 Oct 2025 03:46:48 GMT
[...]
- request:
    method: post
    uri: https://api-ssl.bitly.com/v4/shorten
    body:
      encoding: UTF-8
      string: '{"long_url":"https://github.com/search?q=jekyll"}'
    headers:
      Authorization:
      - Bearer <BITLY_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"created_at":"2025-10-11T08:29:49+0000","id":"bit.ly/4od2iu7","link":"https://bit.ly/4od2iu7","custom_bitlinks":[],"long_url":"https://github.com/search?q=jekyll","archived":false,"tags":[],"deeplinks":[],"references":{"group":"https://api-ssl.bitly.com/v4/groups/Bb8lekEYAv4"}}'
  recorded_at: Mon, 20 Oct 2025 03:46:49 GMT
recorded_with: VCR 6.3.1
