---
http_interactions:
- request:
    method: post
    uri: https://api-ssl.bitly.com/v4/shorten
    body:
      encoding: UTF-8
      string: '{"long_url":"https://github.com/saiqulhaq/jekyll-bitly"}'
    headers:
      Authorization:
      - Bearer <BITLY_TOKEN>
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"created_at":"2025-10-11T07:56:40+0000","id":"bit.ly/3KDd1Qe","link":"https://bit.ly/3KDd1Qe","custom_bitlinks":[],"long_url":"https://github.com/saiqulhaq/jekyll-bitly","archived":false,"tags":[],"deeplinks":[],"references":{"group":"https://api-ssl.bitly.com/v4/groups/Bb8lekEYAv4"}}'
  recorded_at: Sat, 11 Oct 2025 07:58:00 GMT
recorded_with: VCR 6.3.1
